.dropdown {
   margin-bottom: 20px;
}

.dropdown__title {
   align-items: center;
   background-color: #FF6060; 
   border-radius: 5px;
   color: #ffffff;
   display: flex;   
   font-size: 0.8125rem;
   font-weight: 500;
   justify-content: space-between;
   padding: 5px 10px;
}

.dropdown__title:hover {
   cursor: pointer;   
}

.dropdown__content {   
   display: none;  
}

.dropdown__content--open {
   background-color: #F7F7F7;
   margin-bottom: 20px;
   padding: 20px 10px 50px 10px; 
   border-radius: 5px;
   display: block;
}

.dropdown__text, .dropdown__list {
   font-size: 0.75rem;
   color: #FF6060;
   font-weight: 400;
   
}

.dropdown__list {
   margin-bottom: 5px;
}

