.carousel {
  border-radius: 10px;
  height: 255px;
  margin: auto;
  margin-bottom: 15px;
  position: relative;
}

.carousel__img {
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.carousel__left-arrow,
.carousel__right-arrow {
  color: #ffff;
  height: 20px;
  position: absolute;
  top: 50%;
  width: 12px;
}

.carousel__left-arrow {
  left: 6px;
}

.carousel__right-arrow {
  right: 6px;
}

@media screen and (min-width: 1440px) {
  .carousel {
    height: 415px;
    margin-bottom: 30px;
  }

  .carousel__left-arrow,
  .carousel__right-arrow {
    height: 80px;
    top: 42%;
    width: 47px;
  }

  .carousel__left-arrow {
    left: 23px;
  }

  .carousel__right-arrow {
    right: 23px;
  }
}
