.footer {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 209px;
  justify-content: center;
}

.footer__logo {
  height: 40px;
  margin-bottom: 30px;
  width: 122px;
}

.footer__text {
  color: #ffffff;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
}
