.banner{
    border-radius: 25px;    
    height: 111px; 
    margin: auto;   
    position: relative;
    margin-bottom: 20px;
    width: 335px;
}

.banner__cover{
    border-radius: 25px;
    height: 100%;
    left: 0;
    position: absolute;
    opacity: 0.3;
    background-color: black;
    top: 0;
    width: 100%;
}

.banner__background {    
    border-radius: 25px; 
    width: 335px;
    height: 100%;
    object-fit: cover;
}

.banner__text {    
    color: white;    
    font-size: 1.5rem;
    font-weight: 500;  
    position: absolute; 
    top: 50px;
    left: 20px;
    width: 217px;    
}

